<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0"
    />
    <title><%-title%></title>
    <meta name="keywords" content="<%-keywords %>" />
    <meta name="description" content="<%- description %>" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://c.mipcdn.com/static/v2/mip.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/article1.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//at.alicdn.com/t/font_wm0lx5dg3606n7b9.css"
    />
    <style mip-custom>
      body:before,
      .mip-page__iframe {
        background-color: inherit !important;
        background: inherit !important;
      }

      .logo-text {
        padding-top: 15px;
      }

      .ssy-page .page-item {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 50%;
        float: left;
      }

      .ssy-page .page-item p {
        display: inline-block;
      }

      /**/
      .new-search-form-wrapper {
        line-height: 30px;
      }

      .new-search-form-wrapper:hover {
        background-color: initial !important;
      }

      .new-search-form-wrapper .new-search-form {
        height: 30px;
        width: 300px;
      }

      .new-search-form-wrapper .mip-form form {
        display: inline-block;
      }

      .new-search-form-wrapper .new-search-form-input-wrap {
        color: #000;
        padding: 0;
        font-size: inherit;
        text-align: inherit;

        display: inline-block;
      }

      .new-search-form-wrapper
        .new-search-form-input-wrap
        .new-search-form-input {
        width: 230px;
        vertical-align: top;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        padding: 3px;
        border: 1px solid #efefef;
      }

      .new-search-form-wrapper .new-search-form-submit {
        padding: 0;
        border-radius: 0;

        vertical-align: top;
        position: absolute;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #ffffff;
      }

      .no-data-block {
        height: 300px;
        padding-top: 80px;
      }

      .no-data-block img {
        margin: 0 auto;
        width: 60px;
        position: relative;
      }

      .no-data-block p {
        margin-top: 15px;
        color: #c3d1d6;
      }

      .tag-header {
        display: flex;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #efefef;
      }

      .tag-header .tag-img {
        border: 1px solid #c3d1d6;
        width: 60px;
        height: 60px;
        text-align: center;
        padding-top: 5px;
        border-radius: 3px;
        margin-right: 15px;
      }

      .tag-header .mip-biaoqian {
        font-size: 35px;
        margin-bottom: 10px;
      }

      .tag-header .tag-info-content h2 {
        margin-top: 7px;
        margin-bottom: 5px;
        font-size: 20px;
      }

      .tag-header .tag-info-content p {
        color: #666;
        margin-bottom: 0;
      }
    </style>
  </head>

  <body>
    <div class="mipjz-header-top">
      <div class="container">
        <div class="logo">
          <a href="http://www.ah.mipjz.com"><%- title %></a>
        </div>
      </div>
    </div>
    <div class="mipjz-header-nav">
      <div class="nav-warp">
        <div class="container">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="<%= links[0] %>" class="nav-item-link " title="首页"
                >首页</a
              >
            </li>
            <li class="nav-item">
              <a href="<%= links[1] %>" class="nav-item-link active">资讯</a>
            </li>
            <li class="nav-item">
              <a href="<%= links[2] %>" class="nav-item-link ">财经</a>
            </li>
            <li class="nav-item">
              <a href="<%= links[3] %>" class="nav-item-link ">科技</a>
            </li>
            <li class="nav-item">
              <a href="<%= links[4] %>" class="nav-item-link ">时尚</a>
            </li>
            <li class="nav-item">
              <a href="<%= links[5] %>" class="nav-item-link ">潮流</a>
            </li>
            <li class="nav-item">
              <a href="<%= links[6] %>" class="nav-item-link ">生活</a>
            </li>
            <li class="nav-item">
              <a href="<%= links[7] %>" class="nav-item-link ">房产</a>
            </li>
            <li class="nav-item">
              <a href="<%= links[8] %>" class="nav-item-link ">汽车</a>
            </li>
            <li class="nav-item">
              <a href="<%= links[9] %>" class="nav-item-link ">家居</a>
            </li>
            <li class="nav-item">
              <a href="<%= links[10] %>" class="nav-item-link ">亲子</a>
            </li>
            <li class="nav-item">
              <a href="<%= links[11] %>" class="nav-item-link ">教育</a>
            </li>
            <li class="new-search-form-wrapper nav-item">
              <mip-form
                class="new-search-form"
                url="<%= links[1] %>"
                method="get"
              >
                <div class="new-search-form-input-wrap">
                  <input class="new-search-form-input" type="text" name="q" />
                </div>
                <input
                  type="submit"
                  class="new-search-form-submit"
                  value="搜索"
                />
              </mip-form>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main class="mipcms-main">
      <div class="container">
        <ul
          class="list-unstyled d-flex list-unstyled d-flex breadcrumb p-0 mt-3 bg-transparent"
        >
          <li class="breadcrumb-item"><a href="<%= links[1] %>">首页</a></li>
          <li class="breadcrumb-item">
            <a href="<%= links[12] %>" title="<%-kwsArr[0]%>"><%-title%></a>
          </li>
        </ul>
        <div class="row">
          <main class="col-12 col-lg-8">
            <section class="ssy-box">
              <section class="ssy-detail-heading">
                <h1 class="ssy-detail-title"><%-title%></h1>
                <div class="clearfix mb-2">
                  <ul class="list-unstyled text-muted d-inline-block">
                    <li class="list-inline-item">
                      时间:<time>2021-07-18 12:20:36</time>
                    </li>
                    <li class="list-inline-item p-l-5">浏览:0</li>
                  </ul>
                  <ul class="ssy-tags ssy-tags-list float-left float-lg-right">
                    <li class="tags-item">
                      <a href="<%= links[13] %>" class="tags-link" title="3"
                        >3</a
                      >
                    </li>
                  </ul>
                </div>
              </section>
              <section class="ssy-box-body ssy-detail-body">
                <div id="article_content">
                  <div>
                    <div id="article"><%= content %></div>
                  </div>
                </div>
              </section>
              <div class="ssy-box-footer">
                <div class="ssy-page ssy-page-default">
                  <ul class="page-list">
                    <li class="page-item item-up">
                      <p class="mb-1 text-muted">上一篇</p>
                      <a href="<%= links[14] %>" class="item-link"
                        ><%-kwsArr[1]%></a
                      >
                    </li>
                    <li class="page-item item-down">
                      <p class="mb-1 text-muted">下一篇</p>
                      <a href="<%= links[15] %>" class="item-link"
                        ><%-kwsArr[2]%></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </main>
          <aside class="col-12 col-lg-4">
            <section class="ssy-box">
              <section class="ssy-box-heading">
                <h3 class="title">最新文章</h3>
              </section>
              <section class="ssy-box-body">
                <ul class="ssy-text-list">
                  <li class="list-item">
                    <a href="<%= links[16] %>" class="item-link"
                      ><%-kwsArr[0]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[17] %>" class="item-link"
                      ><%-kwsArr[1]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[18] %>" class="item-link"
                      ><%-kwsArr[2]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[19] %>" class="item-link"
                      ><%-kwsArr[3]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[20] %>" class="item-link"
                      ><%-kwsArr[4]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[21] %>" class="item-link"
                      ><%-kwsArr[5]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[22] %>" class="item-link"
                      ><%-kwsArr[6]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[23] %>" class="item-link"
                      ><%-kwsArr[7]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[24] %>" class="item-link"
                      ><%-kwsArr[8]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[25] %>" class="item-link"
                      ><%-kwsArr[9]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[26] %>" class="item-link"
                      ><%-kwsArr[10]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[27] %>" class="item-link"
                      ><%-kwsArr[11]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[28] %>" class="item-link"
                      ><%-kwsArr[12]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[29] %>" class="item-link"
                      ><%-kwsArr[13]%></a
                    >
                  </li>
                </ul>
              </section>
            </section>
            <section class="ssy-box">
              <section class="ssy-box-heading">
                <h3 class="title">热门文章</h3>
              </section>
              <section class="ssy-box-body">
                <ul class="ssy-text-list">
                  <li class="list-item">
                    <a
                      href="<%= links[30] %>"
                      class="item-link"
                      ><%-kwsArr[14]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[31] %>" class="item-link"
                      ><%-kwsArr[15]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[32] %>" class="item-link"
                      ><%-kwsArr[16]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[33] %>" class="item-link"
                      ><%-kwsArr[17]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[34] %>" class="item-link"
                      ><%-kwsArr[18]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[35] %>" class="item-link"
                      ><%-kwsArr[19]%></a
                    >
                  </li>
                  <li class="list-item">
                    <a href="<%= links[36] %>" class="item-link"
                      ><%-kwsArr[20]%></a
                    >
                  </li>
                </ul>
              </section>
            </section>
            <!-- <div class="ssy-box">
            <div class="ssy-box-heading">
              <h3 class="title">最新标签</h3>
            </div>
            <div class="ssy-box-body">
              <ul class="ssy-tags ssy-tags-list">
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/dianying/" class="tags-link"
                    title="电影">电影</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/wuji/" class="tags-link" title="无极">无极</a>
                </li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/xiayu/" class="tags-link" title="下雨">下雨</a>
                </li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/meinvxiezhen/" class="tags-link"
                    title="美女写真">美女写真</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/rentiyishu/" class="tags-link"
                    title="人体艺术">人体艺术</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/fgdfgfdgf/" class="tags-link"
                    title="fgdfgfdgf">fgdfgfdgf</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/xiangyan/" class="tags-link"
                    title="香烟">香烟</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/miaoqian/" class="tags-link"
                    title="庙前">庙前</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/changzhoushi/" class="tags-link"
                    title="常州市">常州市</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/4/" class="tags-link" title="4">4</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/xuanchengshi/" class="tags-link"
                    title="宣城市">宣城市</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/chengdoushi/" class="tags-link"
                    title="成都市">成都市</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/chuzhoushi/" class="tags-link"
                    title="滁州市　">滁州市　</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/beichenqu/" class="tags-link"
                    title="北辰区">北辰区</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/neijiangshi/" class="tags-link"
                    title="内江市">内江市</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/nanpingshi/" class="tags-link"
                    title="南平市">南平市</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/qianjiangshi/" class="tags-link"
                    title="潜江市">潜江市</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/chaohushi/" class="tags-link"
                    title="巢湖市">巢湖市</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/wuxishi/" class="tags-link"
                    title="无锡市">无锡市</a></li>
                <li class="tags-item"><a href="http://www.ah.mipjz.com/tag/1/" class="tags-link" title="1">1</a></li>
              </ul>
            </div>
          </div> -->
          </aside>
        </div>
      </div>
    </main>
    <footer class="mipui-footer">
      <div class="container">
        <p class="text-center mip-footer">
          &copy;2021
          <a data-type="mip" href="<%= links[1] %>" data-title="<%-kwsArr[0]%>"
            ><%-kwsArr[0]%></a
          >
        </p>
      </div>
    </footer>
    <mip-fixed type="gototop">
      <mip-gototop></mip-gototop>
    </mip-fixed>

    <ul
      style="display:flex;list-style:none;justify-content:center;position: relative;z-index:888"
    >
      <li style="padding:0 2px;">
        <a href="http://news.baidu.com/">百度新闻</a>
      </li>
      <li style="padding:0 2px;">
        <a href="<%= frendLinks[0] %>"><%-kwsArr[0]%></a>
      </li>
      <li style="padding:0 2px;">
        <a href="https://www.sina.com.cn/">新浪网</a>
      </li>
      <li style="padding:0 2px;">
        <a href="<%= frendLinks[1] %>"><%-kwsArr[1]%></a>
      </li>
      <li style="padding:0 2px;"><a href="https://www.sohu.com/">搜狐网</a></li>
      <li style="padding:0 2px;">
        <a href="<%= frendLinks[2] %>"><%-kwsArr[2]%></a>
      </li>
      <li style="padding:0 2px;"><a href="https://www.zhihu.com/">知乎</a></li>
    </ul>

    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-stats-baidu/mip-stats-baidu.js"></script>
    <script
      src="https://c.mipcdn.com/static/v2/mip-gototop/mip-gototop.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="https://c.mipcdn.com/static/v2/mip-history/mip-history.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="https://c.mipcdn.com/static/v2/mip-fixed/mip-fixed.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="https://c.mipcdn.com/static/v2/mip-form/mip-form.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
  </body>
</html>
